.info-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;
}

.hr {
    color: rgb(255, 255, 255);
}

.info-box {
    border: 2.5px rgb(255, 255, 255) solid;
    height: 400px;
    width: 400px;
    margin: 10px;
}

.info-text-box {
   margin-left: 35px;
   margin-right: 35px;  
    
}

.info-toptitle {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 40px;
}

.info-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 22px;
}


.info-subtitle {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 10px;
}

.info-text {
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(29, 29, 29);
    font-family: "Inconsolata", monospace;
}


.inconsolata-normal {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.footer-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap; 
    color: rgb(150, 150, 150);
    font-size: 12px;
}

